@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* DESKTOP */
@media (min-width: 1280px)  {

.footerTop{
width: 1440px;
height: 780px;
background: #9DC9C8;
margin-top:111px;
}
.footerTopfHead{
  font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 101.38%;
width: 908px;
height: 66px;
margin-bottom: 54px;
color: #000000;
}
.textMidHead{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
width: 170px;
height: 32px;
color: #000000;
}
.textMidBody{
width: 481px;
height: 181px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 101.38%;
color: #000000;
}
.text1Head{
width: 294px;
height: 32px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
color: #000000;
}
.text1Body{
width: 294px;
height: 70px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 101.38%;
color: #000000;
}
.text2Head{
width: 322px;
height: 32px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
color: #000000;
line-height: 101.38%;
}
.text2Body{
width: 294px;
height: 70px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 101.38%;
color: #000000;
}
.textHBH{
  display: flex;
}
.footerTopBody{
  margin-left: 122px;
}
.textHB{
  margin-right: 70px;
  /* margin-top:; */
}
.footerTop{
  display: flex;
  align-items: center;
}
.insta, .fb, .letterW, .phoneW, .wk, .messenger{
  width: 33px;
 height: 33px;
}
.bottomLogo{
  width: 115px;
  height: 68px;
  margin-top: 50px;
  margin-left: 122px;
}
.conn, .conn1, .bottomText{
color: white;

}

img.phoneW{
  margin-right: 22px;
}
img.letterW{
  margin-right: 22px;
}
.conn{
width: 325px;
height: 40px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
}
.conn1{
 width: 300px;
height: 40px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
margin-top: 25px;
}
.social{
  display: flex;
  margin-top: 30px;
  margin-left: 122px;
}
.insta, .fb, .wk{
  margin-right: 18px;
}
.footerBottom{

  width: 1440px;
  height: 390px;
  background: #000000;
}
.bottomRow{
  display: flex;
  flex-direction: row;
}
.bottomRowLeft{
  display: flex;
  flex-direction: column;
}
.bottomText{
  width: 230px;
  height: 40px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 101.38%;
  margin-top: 146px;
  margin-left: 122px;
}
.bottomRowRight{
  display: flex;
  flex-direction: column;
  margin-left: 788px;
  margin-top: 50px;
}


}
