@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap");
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
/*Tablet*/
@media screen and (min-width: 992px) and (max-width: 1279px){
 .one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.top h1{
    margin-left: 70.08px;
    width: 386.3px;
    height: 53.86px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}
.first p{
    margin-left: 70.66px;
    width: 86.88px;
    height: 22.59px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #1E4681;
}
.second p{
    margin-left: 112.94px;
    width: 123.94px;
    height: 22.59px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #1E4681;
}
.third p{
    margin-left: 98.46px;
    width: 86.88px;
    height: 22.59px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #1E4681;
}
.first div{
    margin-left: 71px;
    margin-top: 0.86px;
    width: 153px;
    height: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #000000;
}
.second div{
    margin-left: 112.94px;
    margin-top: 0.86px;
    width: 172px;
    height: 63px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #000000;
}
.third div{
    margin-left: 100.94px;
    margin-top: 0.86x;
    width: 141.9px;
    height: 22.59px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #000000;

}
.bottom h1{
    margin-top: 103.55px;
    margin-left: 70.08px;
    width: 386.3px;
    height: 53.86px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}
.bottom ul{
    margin-left: 70.66px;
    margin-top: 12.16px;
    width: 383.41px;
    height: 216.61px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;

}
}